html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: black;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

#background {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
}

#quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55vw;
  min-height: 40vh;
  backdrop-filter: blur(10px) brightness(50%) grayscale(75%);
}

#quote {
  margin: 5%;
  color: white;
  font-size: 2em;
}

#author {
  width: 80%;
  color: white;
  font-size: 2em;
}

.btn {
  margin-top: auto;
  margin-bottom: 2%;
  border: 2px solid black;
  background: transparent;
  color: white;
  padding: 14px 28px;
  font-size: 1.2em;
  cursor: pointer;
  border-color: #e7e7e7;
}

/* Background fade in effect */
@keyframes imgFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-fade-in {
  animation: imgFadeIn ease 5s forwards;
}

